:root {
  --primary-color: #055a05; /* forest green */
  --secondary-color: #f4a261; /* warm sand */
  --accent1-color: #264653; /* dark slate blue */
  --accent2-color: #e9c46a; /* light golden yellow */
  --heading-font: "Times New Roman", "Georgia", serif;
  --body-font: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header, main, footer {
    width: 840px;
    margin: 0 auto;
}

/*Head and Navigation*/
header {
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header img {
    height: 60px;
}

nav ul {
    display: flex;
    list-style: none;
}

nav li {
    margin: 0 8px;
}

nav a {
    color: var(--accent2-color);
    text-decoration: none;
    padding: 8px;
}

/* Headings */
h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

/* Content Spacing */
nav, p, section, article {
    margin: 16px;
    padding: 8px;
}

/*Hero */
.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

/* Hero Heading Overlay */
.hero h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    background-color: var(--accent2-color);
    color: white;
    opacity: 0.8;
}

/* Hero Article Overlay */
.hero article {
    position: absolute;
    top: 80px;        /* space below the h1 */
    right: 20px;      /* pushes it to the right side */
    background-color: rgba(255, 255, 255, 0.9);
    max-width: 350px;
    padding: 15px;
}

/* Article Image */
.hero article img {
    float: right;
    width: 125px;
    margin-left: 10px;
}

/* Adventure! */
section:last-of-type {
    text-align: center;
    padding: 20px 0;
    background-color: var(--secondary-color);
}

section:last-of-type h2 {
    font-size: 3rem;
}


footer {
    background-color: var(--primary-color);
    color: white;
    text-align: center;
}

.socialmedia a {
    text-decoration: none;
}

.socialmedia img {
    width: 30px;
    margin: 0 5px;
}
